site_name: ""
site_url: https://docs.nicerobotics.hk
repo_url: https://github.com/nicerobotics/docs.nicerobotics.hk
repo_name: nicerobotics/docs
edit_uri: edit/main/docs/

theme:
  name: material
  language: zh
  logo: assets/logo.png
  favicon: assets/favicon.png
  custom_dir: overrides
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/lightbulb
        name: Switch to Dark Mode
    - media: "(prefers-color-scheme: dark)"
      scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/lightbulb-outline
        name: Switch to Light Mode
  features:
    - navigation.sections
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tracking
    - navigation.footer
    - navigation.prune
    - navigation.top
    - navigation.path
    - navigation.expand
    - toc.follow
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - content.action.edit
    - content.action.view

nav:
  - 首页: index.md
  - 传动:
      - 链轮&链条: transmission/sprocket_chain.md
      - 齿轮: transmission/gear.md
  - 硬件:
      - 方管塞: hardware/tube_plugs.md
      - 螺母条: hardware/nut_strips.md
      - 轴承&轴: hardware/bearing_shaft.md

plugins:
  - search:
      lang:
        - zh
        - en
  - social:
      cards_layout_options:
        font_family: Noto Sans SC
  - optimize
  - privacy

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/nicerobotics

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/extra.js
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
